<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>-->
  <!--</li>-->
  <!--<li>-->
    <!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
  <!--</li>-->
<!--</ul>-->

<!--<p>{{machine.value}}</p>-->
<!--<button (click)="addOne()">add one</button>-->
<!--<button (click)="minusOne()">minus one</button>-->

<!--<div width="600" height="600">-->


<div [style.width]=width [style.height]=height style="position: relative;">
  <canvas #map    width="{{width}}" height="{{height}}" top="0" left="0" style='position:absolute; z-index:1'></canvas>
  <img [src]="'../assets/'+this.canv.map.file" width="{{width}}" height="{{height}}"  style='position:absolute; z-index:1'/>
  <canvas #indic  width="{{width}}" height="{{height}}" top="0" left="0" style='position:absolute; z-index:2'></canvas>
  <canvas #cursor width="{{width}}" height="{{height}}" top="0" left="0" style='position:absolute; z-index:3'></canvas>

  <app-unit-sprites [units]="this.game.state.player.units"
                    style="position: absolute; z-index: 4">
  </app-unit-sprites>

  <img src="../assets/cursor.gif" style="position: absolute; z-index:5" width="63" height="63"
       [style.top]="this.machine.mouse.y * 50 - 6 +'px'"
       [style.left]="this.machine.mouse.x * 50 - 6 +'px'"
       *ngIf="this.machine.showcursor">

  <canvas #mouse  width="{{width}}" height="{{height}}" style='position:absolute; z-index:6; cursor: url("../assets/mousedot.png"), auto'
          (mousemove)="onMouseMove($event)"
          (mousedown)="onMapClick($event)">
  </canvas>
</div>


<div>
  <p>dsfsadf</p>
  <app-info-dialog [state]="this.game.state">

  </app-info-dialog>
</div>

