<div style="padding-left: 20px" *ngIf="stringify(game.selected) !== '{}'">
  <p> {{ game.selected.name }} </p>
  <p> {{ assets[game.selected.class].title }} </p>

  <p style="margin: 0; padding: 0">Inventory:</p>
  <div *ngFor="let item of game.selected.inventory" style="margin: 0; padding: 0">
    <p style="margin: 0; padding: 0">
      {{ item.item }} ({{ item.uses }})
    </p>
    <p style="margin: 0; padding: 0">
       -  - {{items[item.id].description}}
    </p>
    <button *ngIf="items[item.id].equippable"></button>
  </div>
</div>

